<div id="carousel">
  <div class="page-carousel">
      <ngb-carousel>
          <ng-template ngbSlide>
              <img src="./assets/img/soroush-karimi.jpg" alt="Random first slide">
              <div class="carousel-caption">
                  <p>Somewhere</p>
              </div>
          </ng-template>
          <ng-template ngbSlide>
              <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
              <div class="carousel-caption">
                  <p>Somewhere else</p>
              </div>
          </ng-template>
          <ng-template ngbSlide>
              <img src="./assets/img/joshua-stannard.jpg" alt="Random third slide">
              <div class="carousel-caption">
                  <p>Here it is</p>
              </div>
          </ng-template>
      </ngb-carousel>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="tim-title">
      <h3>Titre</h3>
    </div>
  </div>
    <div class="row">
      <div class="col">
        <p>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
    </div>
    </div>
    <div class="row">
      <a href="#" target="_blank" class="btn btn-danger btn-round">Participer</a>
    </div>

</div>