<h5 class="presentation-title">Les meilleurs citoyens</h5>
<div class="row align-items-center">
  <div class="col"></div>
  <div class="col">
    <img src="assets/img/faces/joe-gardner-2.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image" style="position: relative;">
    <img class="gold" src="assets/img/gold.png" alt="">
    <p class="text-center">Joe Gardner</p>
  </div>
  <div class="col"></div>
</div>
<div class="row align-items-center">
  
  <div class="col">
    <img src="assets/img/faces/joe-gardner-2.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image" style="position: relative;">
    <img class="silver" src="assets/img/silver.png" alt="">
    <p class="text-center">Joe Gardner</p>
  </div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col">
    <img src="assets/img/faces/joe-gardner-2.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image" style="position: relative;">
    <img class="bronze" src="assets/img/bronze.png" alt="">
    <p class="text-center">Joe Gardner</p>
  </div>

</div>
<!---
<div class="title-brand">
  <div class="angular-logo">
      <img src="assets/img/bronze.png" alt="">
  </div>
  <h1 class="presentation-title">Paper Kit 2 Angular</h1>
  <div class="fog-low">
      <img src="assets/img/fog-low.png" alt="">
  </div>
  <div class="fog-low right">
      <img src="assets/img/fog-low.png" alt="">
  </div>
</div>-->

